<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>StuPa</title>
        <link href="{% static "admin/css/base.css" %}" media="screen, projection" rel="stylesheet" type="text/css" />
        <link href="{% static "admin/css/forms.css" %}" media="screen, projection" rel="stylesheet" type="text/css" />
        <link href="{% static "css/screen.css" %}" media="screen, projection" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div id="container">
            <div id="header">
                <div id="branding">
                    <h1 id="site-name"><a href="/vote/">Studentenparlament der Universit&auml;t St.Gallen (HSG)</a></h1>
                </div>
                <div id="user-tools">
                    {% if user.is_authenticated %}
                        Gr&uuml;azi,
                        <strong>{{ user }}</strong>.
                        <a href="{% url 'logout' %}">Ausloggen</a>
                    {% else %}
                        <a href="{% url 'login' %}">Einloggen</a>
                    {% endif %}
                </div>
            </div>
            <div class="breadcrumbs">
                <a href="/vote/">Abstimmungen</a>
                {% block breadcrumbs %}{% endblock %}
            </div>
            <div id="content" class="flex">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>
