/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// @import "compass/reset";

#content {
    h3 {
        color: #999;
        font-weight: normal;
        font-size: 12px;
    }

    .box {
        border: 1px solid #ccc;
        // border-bottom: 1px solid #eee;
        background: white;
        padding: 10px 16px 8px 16px;
        margin-bottom: 10px;

        .question {
            display: block;
            text-align: center;
            color: black;
            font-weight: bold;
            font-size: 18px;
            line-height: 20px;
        }

        .voteboxes {
            margin-top: 20px;
            text-align: center;

            button {
                font-size: 12px;
            }
        }
    }


    ul.messages.loginmessages {
        width: 320px;
    }

    form#loginform {
        width: 320px;

        label { width: 120px; }
        input {
            font: Monaco, monospace;
            font-size: 14px;
        }
    }

    ul.messages {
        background: transparent;
        padding: 0;
        border-radius: 0;
    }

    table.resulttable {
        background: white;
        border: 1px solid #ccc;

        thead th { border-top: 1px solid #ccc; }
        thead th:first-child, tbody td:first-child { border-left: 1px solid #ccc !important; }
        thead th:last-child, tbody td:last-child { border-right: 1px solid #ccc !important; }
        tbody tr:last-child td { border-bottom: 1px solid #ccc !important; }

        td.center { text-align: center; }
        td.right { text-align: right; }
        td.result { font-weight: bold; width: 45px; }
        td.result-yes { background: #78CB79; }
        td.result-no { background: #D04A4C; }
        td.result-abst { background: #FFF474; }
        td.result-yes2 { background: #C9ECCA; }
        td.result-no2 { background: #E8ACB0; }
        td.result-abst2 { background: #FBFBC0; }
    }

    form#generatehashcodes {
        label { width: 180px; }

        div.userlist {
            margin-left: 190px;

            span {
                display: inline-block;
                float: left;
                margin: 0 30px 10px 0;
                width: 160px;

                input { margin-right: 5px; }
            }
        }
    }
}
