@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 9, ../sass/screen.scss */
#content h3 {
  color: #999;
  font-weight: normal;
  font-size: 12px;
}
/* line 15, ../sass/screen.scss */
#content .box {
  border: 1px solid #ccc;
  background: white;
  padding: 10px 16px 8px 16px;
  margin-bottom: 10px;
}
/* line 22, ../sass/screen.scss */
#content .box .question {
  display: block;
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}
/* line 31, ../sass/screen.scss */
#content .box .voteboxes {
  margin-top: 20px;
  text-align: center;
}
/* line 35, ../sass/screen.scss */
#content .box .voteboxes button {
  font-size: 12px;
}
/* line 42, ../sass/screen.scss */
#content ul.messages.loginmessages {
  width: 320px;
}
/* line 46, ../sass/screen.scss */
#content form#loginform {
  width: 320px;
}
/* line 49, ../sass/screen.scss */
#content form#loginform label {
  width: 120px;
}
/* line 50, ../sass/screen.scss */
#content form#loginform input {
  font: Monaco, monospace;
  font-size: 14px;
}
/* line 56, ../sass/screen.scss */
#content ul.messages {
  background: transparent;
  padding: 0;
  border-radius: 0;
}
/* line 62, ../sass/screen.scss */
#content table.resulttable {
  background: white;
  border: 1px solid #ccc;
}
/* line 66, ../sass/screen.scss */
#content table.resulttable thead th {
  border-top: 1px solid #ccc;
}
/* line 67, ../sass/screen.scss */
#content table.resulttable thead th:first-child, #content table.resulttable tbody td:first-child {
  border-left: 1px solid #ccc !important;
}
/* line 68, ../sass/screen.scss */
#content table.resulttable thead th:last-child, #content table.resulttable tbody td:last-child {
   border-right: 1px solid #ccc !important;
}
/* line 69, ../sass/screen.scss */
#content table.resulttable tbody tr:last-child td {
  border-bottom: 1px solid #ccc !important;
}
/* line 71, ../sass/screen.scss */
#content table.resulttable td.center {
  text-align: center;
}
/* line 72, ../sass/screen.scss */
#content table.resulttable td.right {
  text-align: right;
}
/* line 73, ../sass/screen.scss */
#content table.resulttable td.result {
  font-weight: bold;
  width: 45px;
}
/* line 74, ../sass/screen.scss */
#content table.resulttable td.result-yes {
  background: #78CB79;
}
/* line 75, ../sass/screen.scss */
#content table.resulttable td.result-no {
  background: #D04A4C;
}
/* line 76, ../sass/screen.scss */
#content table.resulttable td.result-abst {
  background: #FFF474;
}
/* line 77, ../sass/screen.scss */
#content table.resulttable td.result-yes2 {
  background: #C9ECCA;
}
/* line 78, ../sass/screen.scss */
#content table.resulttable td.result-no2 {
  background: #E8ACB0;
}
/* line 79, ../sass/screen.scss */
#content table.resulttable td.result-abst2 {
  background: #FBFBC0;
}
/* line 83, ../sass/screen.scss */
#content form#generatehashcodes label {
  width: 180px;
}
/* line 85, ../sass/screen.scss */
#content form#generatehashcodes div.userlist {
  margin-left: 190px;
}
/* line 88, ../sass/screen.scss */
#content form#generatehashcodes div.userlist span {
  display: inline-block;
  float: left;
  margin: 0 30px 10px 0;
  width: 160px;
}
/* line 94, ../sass/screen.scss */
#content form#generatehashcodes div.userlist span input {
  margin-right: 5px;
}
